@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth; /* scroll yumusak yapar*/
  font-family: "Poppins", sans-serif;
}
:root {
  /* renk değişkeni tanımlama */
  --bg-color: #080808;
  --second-bg-color: #131313;
  --text-color: #fff;
  --main-color: #00ffee;
}

html {
  font-size: 60%;
  overflow-x: hidden; /* yatay kaydirma cubugunu gizler */
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

span {
  color: var(--main-color);
}

section {
  min-height: 100vh; /* her bölümün minimum yüksekliği ekran yüksekliği kadar olur */
  padding: 10rem 12% 10rem; /* top, right, bottom (yukarı,sağ,aşağı) */
}

/* header  start*/
.header {
  position: fixed; /* header her zaman görünür kalır */
  top: 0;
  left: 0;
  width: 100%;
  padding: 4rem 12% 4rem; /* top, right, bottom (yukarı,sağ,aşağı) */
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px); /* arka plan bulanıklaştırma efekti */
  display: flex; /* flexbox kullanarak içeriği hizalama */
  justify-content: space-between; /* içeriği iki tarafa yaslama */
  align-items: center; /* içeriği dikey olarak ortalama */
  z-index: 5; /* header'ın diğer içeriklerin üzerinde görünmesini sağlar */
}

.logo {
  font-size: 3rem;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer; /* fare imlecini el şeklinde yapar */
  transition: 0.3s ease-in-out; /* geçiş efekti ekler, 0.3 saniye süresince, ease-in-out hız eğrisi kullanarak */
}
.logo:hover {
  transform: scale(1.1); /* logo üzerine gelindiğinde boyutunu %10 artırır */
}

.logo span {
  text-shadow: 0 0 25px var(--main-color); /* metne neon efekti verir */
  color: var(--main-color); /* metin rengini ana renk yapar */
}

.navbar a {
  /* navbar içindeki bağlantılar için stil */
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease-in-out; /* geçiş efekti ekler, 0.3 saniye süresince, ease-in-out hız eğrisi kullanarak */
  border-bottom: 3px solid transparent; /* başlangıçta alt çizgi görünmez */
}

.navbar a:hover,
.navbar a:active {
  color: var(
    --main-color
  ); /* bağlantı üzerine gelindiğinde veya aktif olduğunda renk değişir */
  border-bottom: 3px solid var(--main-color); /* bağlantı üzerine gelindiğinde veya aktif olduğunda alt çizgi görünür */
}
#menu-icon {
  font-size: 3.6rem;
  color: var(--main-color);
  display: none; /* başlangıçta menü simgesi gizlenir(responsive için) */
}
/* header  end*/

/* home start */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem; /* elemanlar arasındaki boşluk */
}

.home-content {
  display: flex;
  flex-direction: column; /* içeriği dikey olarak sıralar */
  align-items: baseline; /* içeriği alt hizalar */
  justify-content: center; /* içeriği dikey olarak ortalar */
  text-align: left; /* metni sola hizalar */
  margin-top: 3rem; /* üstten boşluk */
}

.home-content h1 {
  font-size: 7rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1; /* satır yüksekliğini metin boyutuna eşit yaparak satır aralığını kaldırır */
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}
.home-img {
  border-radius: 50%; /* resmi daire şeklinde yapar */
}

.home-img img {
  width: 32vw; height: 32vw; object-fit: cover;  /* resmin genişliğini viewport genişliğinin %32'si yapar */
  position: relative; /* resmi konumlandırmak için relative yapar */
  top: 3rem;
  border-radius: 50%; /* resmi daire şeklinde yapar */
  box-shadow: 0 0 25px var(--main-color); /* ölçüleri 0,0,25px olan ve ana renk ile gölge efekti verir */
  cursor: pointer;
  transition: 0.4s ease-in-out; /* geçiş efekti ekler, 0.4 saniye süresince, ease-in-out hız eğrisi kullanarak */
}

.home-img img:hover {
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color),
    0 0 100px var(--main-color); /* üzerine gelindiğinde gölge efektini artırır */
}
.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.8; /* satır yüksekliğini metin boyutunun 1.8 katı yaparak okunabilirliği artırır */
  max-width: 1000px; /* paragrafın maksimum genişliğini 1000px yapar */
}
.social-icons a {
  display: inline-flex; /* sosyal ikonları yatay olarak sıralar */
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: transparent; /* sosyal ikonların arka planını şeffaf yapar */
  border: 2px solid var(--main-color); /* sosyal ikonların etrafına ana renk ile bir sınır ekler */
  font-size: 2.5rem;
  border-radius: 50%; /* sosyal ikonları daire şeklinde yapar */
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0; /* sosyal ikonlar arasındaki boşluk */
  transition: 300ms ease-in-out; /* geçiş efekti ekler, 300ms süresince, ease-in-out hız eğrisi kullanarak */
}

.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translate(-5px); /* üzerine gelindiğinde ikonun boyutunu %30 artırır ve hafifçe sola kaydırır */
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color);
  border-radius: 4rem;
  font-size: 1.6rem;
  color: black;
  border: 2px solid transparent;
  letter-spacing: 0.1rem; /* harfler arasındaki boşluk */
  font-weight: 600;
  cursor: pointer;
  transition: 300ms ease-in-out; /* geçiş efekti ekler, 300ms süresince, ease-in-out hız eğrisi kullanarak */
}

.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
  background-color: black;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover {
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
  color: black;
}

.text-animation {
  font-size: 34px;
  font-weight: 600px;
  min-width: 280px;
}

.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  height: 100%;
  width: calc(
    100% + 8px
  ); /* span'ın genişliğinden biraz daha geniş yaparak animasyonun düzgün görünmesini sağlar */
  position: absolute;
  right: -8px; /* span'ın sağından başlayarak animasyonun başlamasını sağlar */
  border-left: 3px solid var(--bg-color); /* animasyonun başlangıcında sağdan başlayarak span'ı kapatır */
  animation:
    cursor 0.6s infinite,
    typing 20s steps(14) infinite; /* cursor animasyonu sürekli olarak çalışır, typing animasyonu ise 20 saniyede bir tekrar eder */
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Backend Developerım";
  }
  21%,
  40% {
    content: "Frontend Developerım";
  }
  41%,
  60% {
    content: "Full-Stack Developerım";
  }
  61%,
  80% {
    content: "Database Specialistim";
  }
  81%,
  100% {
    content: "Backend Developerım";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}
/* home end */

/* education start */

.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}

.education {
  background-color: var(--second-bg-color);
  padding: 100px 15px;
}
.timeline-items {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}

.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow:
    0 0 25px var(--main-color),
    0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: #fff;
  margin: 6px 0 15px;
}

.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 4rem;
  box-shadow: 0 0 10px var(--main-color);
  cursor: pointer;
  transition: 0.3 ease-in-out;
}

.timeline-content:hover {
  box-shadow: 0 0 25px var(--main-color);
  transform: scale(1.05);
}

.timeline-content h3 {
  font-size: 20px;
  color: fff;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 4rem;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}

/*education end*/

/*services start*/

.services {
  background-color: var(--second-bg-color);
  color: black;
}
.services h2 {
  color: #fff;
  margin-bottom: 5rem;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.services-box {
  background-color: var(--main-color);
  min-height: 300px; height: auto;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
.services-box:hover {
  background-color: #fff;
  color: #000;
  border: 5px solid var(--main-color);
  transform: scale(1.03);
}

.services-box .services-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  
  justify-content: left;
  align-items: baseline;
  padding: 5rem 5rem;
}
.services-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}
.services-info p {
  font-size: 1.6rem;
  font-weight: 600;
  
  line-height: 1.7;
  margin: auto;
}

/*services end*/
/* CONTACT START */
.contact {
  background-color: var(--bg-color);
}

.contact form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: 5rem auto;
  text-align: center;
}

.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* CONTACT END */

/* FOOTER START */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--second-bg-color);
}

.footer .social {
  text-align: center;
  padding-bottom: 25px;
  color: var(--main-color);
}

.footer .social a {
  font-size: 25px;
  color: var(--main-color);
  border: 2px solid var(--main-color);
  width: 42px;
  height: 42px;
  line-height: 42px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin: 0 10px;
  transition: 0.3s ease-in-out;
}

.footer .social a:hover {
  transform: scale(1.2) translateY(-10px);
  background-color: var(--main-color);
  color: black;
  box-shadow: 0 0 25px var(--main-color);
}

.footer ul {
  margin-top: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
  text-align: center;
}

.footer ul li a {
  color: #fff;
  border-bottom: 3px solid transparent;
  transition: 0.3s ease-in-out;
}

.footer ul li a:hover {
  border-bottom: 3px solid var(--main-color);
  color: var(--main-color);
}

.footer ul li {
  display: inline-block;
  padding: 0 15px;
}

.footer .copyright {
  margin-top: 50px;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
/* FOOTER END */


/* SKILLS START */
.skills {
  background-color: var(--bg-color);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  align-items: stretch;
}

.skills-box {
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  padding: 4rem 3rem;
  border-radius: 3rem;
  text-align: center;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--second-bg-color);
}

.skills-box i {
  font-size: 6rem;
  color: var(--main-color);
}

.skills-box h3 {
  font-size: 2.8rem;
  margin: 2rem 0;
}

.skill-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.2rem;
}

.skill-badge {
  background-color: transparent;
  border: 1px solid var(--main-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 1.6rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.3s ease-in-out;
}

.skill-badge i {
  font-size: 2rem;
}

.skill-badge:hover {
  background-color: var(--main-color);
  color: #000;
  box-shadow: 0 0 15px var(--main-color);
  transform: scale(1.1);
}
/* SKILLS END */

/* MEDIA QUERIES START */
@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }

  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .timeline-items::before {
    left: 7px;
  }

  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }

  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }

  .timeline-dot {
    left: 0;
  }

  .services {
    padding-bottom: 7rem;
  }

  .testimonials .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .contact form {
    flex-direction: column;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media (max-width: 895px) {
  #menu-icon {
    display: block;
    cursor: pointer;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 50%;
    padding: 1rem 3%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid  var(--main-color)
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: #fff;
  }

  .navbar.active {
    display: block;
  }

  .home {
    flex-direction: column-reverse;
    margin: 5rem 4rem;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 8rem;
    margin-top: 3rem;
  }

  .home-content p {
    max-width: 600px;
  }

  .home-img img {
    width: 56vw;
  }

  .services h2 {
    margin-bottom: 3rem;
  }

  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 575px) {
  .header a {
    font-size: 2.2rem;
  }

  .home {
    gap: 5rem;
    width: 100%;
    margin: 0;
  }

  .home-content h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
  }

  .home-content h3 {
    font-size: 3.5rem;
  }

  .text-animation span {
    display: block;
    font-size: 2.8rem;
    margin-bottom: 2.5rem;
  }

  .text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    width: calc(100% + 8px);
    height: 100%;
    position: absolute;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
  }

  .home-content p {
    font-size: 2rem;
  }

  .home-content .social-icons,
  .btn-group {
    margin: 0 auto;
  }

  .home-content .social-icons a {
    width: 6rem;
    height: 6rem;
  }

  .home-content .btn-group .btn {
    font-size: 2rem;
  }

  .education {
    width: 100%;
  }

  .education h2 {
    font-size: 6rem;
  }

  h2.heading {
    font-size: 4.5rem !important;
  }

  .services-container {
    margin: 0;
  }

  .service-info {
    padding: 0rem 2rem;
  }

  .service-info h4 {
    line-height: 1;
    margin-bottom: 14px;
  }

  .service-info p {
    font-size: 1.7rem;
    line-height: 1;
  }

  .testimonial-item:nth-child(2) {
    border: none;
    box-shadow: none;
    transform: scale(1);
    animation: none;

    min-height: 550px;
    max-width: 450px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 30px 60px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    color: #fff;
    transition: 0.4s ease-in-out;
  }

  .testimonial-item:hover {
    border: 3px solid var(--main-color);
    box-shadow: 0 0 50px var(--main-color);
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .navbar a {
    font-size: 1.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    font-size: 1.8rem;
    margin: 0;
  }

  .home-content h3 {
    font-size: 2.4rem;
  }

  .services-container {
    margin: 0;
  }

  .service-info {
    padding: 0rem 2rem;
  }

  .service-info h4 {
    line-height: 1;
    margin-bottom: 14px;
  }

  .service-info p {
    font-size: 1.8rem;
    line-height: 1;
  }
}

@media screen and (min-width: 1025px) {
  .home-content h1 {
    font-size: 5rem;
  }

  .home-content p {
    font-size: 1.8rem;
    margin: 0;
  }

  .home-content h3 {
    font-size: 2.5rem;
  }
}
/* MEDIA QUERIES END */

/*574,
 575 - 767,
  768 - 991,
   992 - 1023,
    1024 - 1199,
     1200 */

